td{
	cursor: pointer;
}

body{
	overflow:visible;
}

button{
	height: 50px;
	font-weight: bold;
	font-family: consolas;
	font-size: 20px;
}

.menu{
	margin-top: 20px;
	text-align: center;
}
#announceWinner{
	text-align: center;
	font-family: consolas;
}

*{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a{
    text-decoration: none;
    color:#fff;
    margin-top: -100px;
}

.hoverable:hover{
    background-color: darkseagreen;
    color:#fff;
    font-weight: bold;
}